<div class="container">
    <div class="ADK-separator-3"></div>
    <div id="userid">{{id}}</div>
    <div class="row">
        {{#each story}}
<!--            <div class="col s8 m8 x60">-->
<!--                <div class="card" id="card0">-->
                    <div class="story-content">
                        <h5><strong>{{title}}</strong></h5>
                        <p>{{mystory}}</p>
                    </div>
                    <hr>
                    <div class="story-email"><a href="{{email}}">{{email}}</a></div>
<!--                </div>-->
<!--            </div>-->
        {{/each}}

    </div>

    <div class="ADK-separator-3"></div>
</div>